.card{
background:rgba(255,255,255,0.15);
padding:45px;
border-radius:25px;
backdrop-filter:blur(12px);
z-index:2;
max-width:420px;
width:90%;
box-shadow:0 20px 40px rgba(0,0,0,0.25);
}

/* фото */

.photo{
width:100%;
max-width:220px;
border-radius:20px;
margin-bottom:20px;
box-shadow:0 15px 35px rgba(0,0,0,0.3);
transition:0.4s;
}

.photo:hover{
transform:scale(1.05);
}

/* скрытый текст */

.hidden{
display:none;
}

/* цветы слева */

.flowersLeft{
position:absolute;
left:40px;
top:50%;
transform:translateY(-50%);
font-size:40px;
display:flex;
flex-direction:column;
gap:25px;
animation:flowerMove 4s infinite ease-in-out;
}

/* цветы справа */

.flowersRight{
position:absolute;
right:40px;
top:50%;
transform:translateY(-50%);
font-size:40px;
display:flex;
flex-direction:column;
gap:25px;
animation:flowerMove 4s infinite ease-in-out;
}

/* анимация цветов */

@keyframes flowerMove{

0%{
transform:translateY(-50%) rotate(-6deg);
}

50%{
transform:translateY(-55%) rotate(6deg);
}

100%{
transform:translateY(-50%) rotate(-6deg);
}

}
