.flowersLeft{
position:absolute;
left:40px;
top:50%;
transform:translateY(-50%);
font-size:40px;
display:flex;
flex-direction:column;
gap:25px;
animation:flowerMove 4s infinite ease-in-out;
}

.flowersRight{
position:absolute;
right:40px;
top:50%;
transform:translateY(-50%);
font-size:40px;
display:flex;
flex-direction:column;
gap:25px;
animation:flowerMove 4s infinite ease-in-out;
}

@keyframes flowerMove{
0%{
transform:translateY(-50%) rotate(-6deg);
}

50%{
transform:translateY(-55%) rotate(6deg);
}

100%{
transform:translateY(-50%) rotate(-6deg);
}
}